@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
* {
    font-family:"Courgette";
    border: 0;
    margin: 0;
    padding: 0;
}

body {

    font-size: 50px;
    background-color: #87ceeb;
    background-image: url("./image/angle.png");
    background-position: 50% 0;
    background-size: 1.5em 1.5em;


}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: auto;
    margin: 200px 5px 0px 5px;
}

#Relation {
    display: flex;
    font-size: 50px;
    justify-content: center;
    color: black;
    padding:20 ;
    position: absolute;
    top: 50%;
    left: 550px;
    right: 0px;
    vertical-align: auto;
    text-align: center;
}
.c1{
    position: absolute;
    top: 40%;
    left: 550px;
    right: 0px;

}
.container1 {
    justify-content: space-between;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 90vh;
    align-items: flex-end;
    padding: 0px 20px 0px 20px;

}
.filler_div {
    flex: 1;
}
.example_c {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 2px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.example_c:hover {
    color: #ffffff !important;
    background: grey;
    border-color: grey !important;
    transition: all 0.4s ease 0s;
}

.container1 {
    justify-content: space-between;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 60vh;
    align-items: flex-end;
   box-sizing: initial;

}